# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.log

# VS Code
.vscode/

# Visual Studio files
*.vs/

# Publish output
out/
publish/

# Include default appsettings for Docker build
!appsettings.json
!appsettings.Development.json

# Ignore secrets
appsettings.*.Secret.json
.env

# Docker artifacts
*.dockerfile

# Misc
*.DS_Store
